@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	background: url(../public/portada.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
	/* position: absolute; */
	z-index: 0;
}

.login {
	overflow: hidden;
	background-color: white;
	padding: 40px 30px 20px 30px;
	border-radius: 10px;
	position: relative;
	z-index: 2;
	transition: transform 300ms, box-shadow 300ms;
	box-shadow: 5px 10px 10px rgb(2 128 144 / 20%);
}

input[type="hidden" i] {
	appearance: none;
	cursor: default;
	display: none !important;
	padding: initial;
	border: initial;
}

.xd {
	border-radius: 15px;
	top: 0%;
	height: 800px;
	width: 400px;
	margin: 60px auto 20px;
	z-index: 1;
}
.button {
	font-family: "Asap", sans-serif;
	font-weight: 400;
	color: #fff;
	padding: 5px 15px;
	font-size: 17px;
	line-height: 1.5;
	border-radius: 5px;
}

@keyframes wave {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-20px);
	}
	40% {
		transform: translateX(0);
	}
	60% {
		transform: translateX(20px);
	}
	80% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-20px);
	}
}
.login::before {
	left: 10%;
	bottom: -110%;
	background-color: rgba(69, 105, 144, 0.15);
	animation: wave 20s infinite linear;
}
.login::after {
	left: 20%;
	bottom: -115%;
	background-color: rgba(2, 128, 144, 0.2);
	animation: wave 30s infinite;
}

.login::before,
.login::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	border-top-left-radius: 40%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 35%;
	border-bottom-right-radius: 40%;
	z-index: -1;
}

.login::before,
.login::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	border-top-left-radius: 40%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 35%;
	border-bottom-right-radius: 40%;
	z-index: -1;
}
